.content__elements {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 880px;
  height: 743px;
  margin: 50px 200px 0 200px;
}

.content__elements-image {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  border-radius: 10px;
  gap: 17px 20px;
}

.content__images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 282px;
  height: 361px;
  border-radius: 10px;
  background-color: white;
}

.content__image {
  width: 282px;
  height: 282px;
  border-radius: 10px;
}

.content__text {
  margin: 30px 0 30px 10px;
  width: 223px;
  height: 25px;
  font-family: "Inter-black";
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__button-like {
  margin: 30px 23px 30px 0;
  padding: 0;
  width: 21px;
  height: 19px;
  border: none;
  background-color: #ffffff;
}

.content__button-like:hover {
  border-color: #414141;
  cursor: pointer;
}

.content__icon-heart {
  display: inline-block;
  width: 21px;
  height: 19px;
  background-image: url(../Imagenes/icon-heart.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.content__icon-heart-black {
  background-image: url(../Imagenes/icon-heart-black.png);
}

@media screen and (max-width: 768px) {
  .content__elements {
    width: 768px;
    height: auto;
    margin: 0;
    flex-direction: column;
  }

  .content__elements-image {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    border-radius: 10px;
    gap: 10px;
  }

  .content__images {
    width: 282px;
    height: 361px;
    justify-content: center;
  }

  .content__image {
    width: 282px;
    height: 282px;
  }

  .content__text {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    margin: 10px 0;
  }

  .content__button-like {
    margin: 10px 0;
  }
}

@media screen and (max-width: 320px) {
  .content__elements {
    width: 100%;
    height: auto;
    margin: 36px 0 0 0;
    flex-direction: column;
  }

  .content__elements-image {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(6, auto);
    border-radius: 10px;
    gap: 20px;
  }

  .content__images {
    width: 282px;
    height: 361px;
    justify-content: center;
    flex-shrink: 0;
  }

  .content__image {
    width: 282px;
    height: 282px;
  }

  .content__text {
    width: 246px;
    font-size: 24px;
    line-height: normal;
    margin: 5px 0;
  }

  .content__button-like {
    margin: 5px 0;
  }
}
