.content__elements {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 880px;
  height: 743px;
  margin: 50px 200px 0 200px;
}

.content__elements-image {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  border-radius: 10px;
  gap: 17px 20px;
}

.content__images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 282px;
  height: 361px;
  border-radius: 10px;
  background-color: white;
}

.content__image {
  width: 282px;
  height: 282px;
}

.content__text {
  margin: 30px 0 30px 10px;
  width: 223px;
  height: 25px;
  font-family: "Inter-black";
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__button-like {
  margin: 30px 23px 30px 0;
  padding: 0;
  width: 21px;
  height: 19px;
  border: none;
  background-color: #ffffff;
}

.content__icon-heart {
  display: inline-block;
  width: 21px;
  height: 19px;
  background-image: url(../Imagenes/icon-heart.png);
  background-size: contain;
  background-repeat: no-repeat;
}
