.header {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.header__content {
  width: 880px;
  height: 74px;
  margin-top: 45px;
  border-bottom: 1px solid #545454;
}

.header__profile {
  display: flex;
  width: 880px;
  height: 120px;
  margin-top: 40px;
}

.header__profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.header__profile-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 415px;
  height: 77px;
  margin-left: 30px;
}

.header__profile-name {
  margin: 0;
  width: 373px;
  height: 39px;
  font-family: "Inter";
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
}

.header__profile-trade {
  margin: 16px 0 0 0;
  width: 415px;
  height: 22px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
}

.header__button-edit {
  margin: 15px 0 0 18px;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background-color: #000000;
}

.header__icon-pencil {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(../Imagenes/icon-pencil.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.header__button-add {
  margin: 13px 0 14px 165px;
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: #000000;
}

.header__icon-add {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url(../Imagenes/icon-add.png);
  background-size: contain;
  background-repeat: no-repeat;
}
