.header {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.header__content {
  width: 880px;
  height: 74px;
  margin-top: 45px;
  border-bottom: 1px solid #545454;
}

.header__profile {
  display: flex;
  width: 880px;
  height: 120px;
  margin-top: 40px;
}

.header__profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.header__profile-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 415px;
  height: 77px;
  margin-left: 30px;
}

.header__profile-name {
  margin: 0;
  width: 373px;
  height: 39px;
  font-family: "Inter";
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
}

.header__profile-trade {
  margin: 16px 0 0 0;
  width: 415px;
  height: 22px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
}

.header__button-edit {
  margin: 15px 0 0 18px;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background-color: #000000;
  cursor: pointer;
}

.header__button-edit:hover {
  background-color: #414141;
  cursor: pointer;
}

.header__icon-pencil {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(../Imagenes/icon-pencil.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.header__button-add {
  margin: 13px 0 14px 165px;
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: #000000;
}

.header__button-add:hover {
  background-color: #414141;
  cursor: pointer;
}

.header__icon-add {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url(../Imagenes/icon-add.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.header__edit-profile {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.header__edit-profile-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  left: 450px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 430px;
  height: 330px;
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #414141;
  text-decoration: none;
  cursor: pointer;
}

.header__edit-profile-title {
  width: 330px;
  height: 25px;
  margin: 36px 0 0 36px;
  font-family: "Arial";
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  color: #000000;
}

.header__edit-profile-input {
  border: 0;
  width: 358px;
  height: 27.26px;
  box-sizing: border-box;
  border-bottom: 1px solid #c4c4c4;
  background-color: transparent;
  font-family: "Arial";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.header__edit-profile-input_name {
  margin: 54px 36px 0 36px;
}

.header__edit-profile-input_description {
  margin: 30px 36px 0 36px
}

.header__edit-profile-button {
  width: 358px;
  height: 50px;
  margin: 48px 36px 36.50px 36px;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  background-color: #000000;
  font-family: "Arial";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #c4c4c4;
  cursor: pointer;
}

.header__edit-profile-button:hover {
  background-color: #414141;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
  }

  .header__content,
  .header__profile {
    width: 100%;
  }

  .header__profile-image {
    width: 100px;
    height: 100px;
    margin: 0 20px 0 50px;
    overflow: hidden;
  }

  .header__profile-info {
    width: 400px;
  }

  .header__profile-name {
    width: 100%;
    font-size: 36px;
    line-height: 42px;
  }

  .header__profile-trade {
    width: 100%;
    font-size: 16px;
    line-height: 19px;
  }

  .header__button-edit {
    margin: 15px 0 0 0;
  }

  .header__button-add {
    margin: 20px 0 0 0;
    width: 80px;
    height: 50px;
    padding: 0;
  }

  .header__edit-profile-content {
    width: 55%;
    margin: 20% auto;
  }

}

@media screen and (max-width: 320px) {
.header {
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 320px;
  box-sizing: border-box;
}

.header__content {
  width: 320px;
  height: 56px;
  border-bottom: 1px solid #545454;
}

.header__logo-image {
  width: 126px;
  height: 24px;
  margin: 0 auto 0 27px;
}

.header__profile {
  flex-direction: column;
  align-items: center;
  width: 282px;
  height: 286px;
  min-width: 0;
  box-sizing: border-box;
}

.header__profile-image {
  width: 120px;
  height: 120px;
  margin: 0 0 10px 0;
}

.header__profile-info {
  align-items: center;
  width: 282px;
  height: 50px;
  margin-top: 20px;
  margin-left: 0;
}

.header__profile-name {
  font-size: 20px;
  line-height: 24px;
  width: 200px;
  height: 22px;
  text-align: center;
  margin-left: 30px;
}

.header__profile-trade {
  font-size: 12px;
  line-height: 14px;
  width: 282px;
  height: 14px;
  margin-top: 14px;
  text-align: center;
}

.header__button-edit {
  margin: 0;
  width: 20px;
  height: 20px;
  align-self: center;
}

.header__button-add {
  margin: 36px 0 0 0;
  width: 282px;
  height: 50px;
  padding: 0;
  align-self: center;
}

.header__edit-profile-content {
  width: 282px;
  height: 322px;
  min-width: 0;
  margin: 30% auto;
  padding: 10px;
  box-sizing: border-box;
}

.header__edit-profile-title {
  width: 90%;
  font-size: 16px;
  margin: 20px 0 0 10px;
}

.header__edit-profile-input {
  width: 90%;
  margin-left: 10px;
  margin-right: 10px;
}

.header__edit-profile-input_name {
  margin: 76px 10px 0 10px;
}

.header__edit-profile-input_description {
  margin: 16px 10px 0 10px;
}

.header__edit-profile-button {
  width: 90%;
  height: 40px;
  margin: 46px 10px 20px 10px;
  font-size: 14px;
}

}